/* login */

tml {
  height: 100%;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: white;
  box-sizing: border-box;
  border-radius: 10px;
}

.login-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  outline: none;
  background: transparent;
}

.login-box .login {
  width: 100%;
  background-color: #5F2CF1;
  border-color: transparent;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  color:white;
  padding: 10px;
}

.login-box .idpw_box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.login-box .idpw_list {
  align-items: flex-start;
  display: inline-flex;
}

.login-box .idpw_list a {
  text-decoration: none;
  color: #585858;
}

.login-box .info {
    text-align: center;
    color : #585858;
    margin-top: 50px;
}

.login-box .info a{
  color: #5F2CF1;
}

.vertical_line {
  width: 1px;
  height: 12px;
  background-color: #585858;
}

/* register */

.register-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: white;
  box-sizing: border-box;
  border-radius: 10px;
}

.register-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: left;
}

.register-box .lay {
  margin-bottom : 20px;
}

.register-box .user-box {
  position: relative;
}

.register-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  outline: none;
  background: transparent;
}

.register-box .user-box .input2 {
  width: 74%;
}

.register-box .user-box .input3 {
  width: 68%;
}

.register-box .register {
  width: 100%;
  background-color: #5F2CF1;
  border-color: transparent;
  border-radius: 5px;
  color:white;
  padding: 10px;
  margin-top: 20px;
}

.register-box .mail {
  background-color: #5F2CF1;
  border-color: transparent;
  border-radius: 5px;
  color:white;
  padding: 10px;
}

/* id-find */

.idfind-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: white;
  box-sizing: border-box;
  border-radius: 10px;
}

.idfind-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}


.idfind-box hr{
  border: 0;
  height: 2px;
  background: gray;
  margin-bottom: 10px;
}

.idfind-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  outline: none;
  background: transparent;
}

.idfind-box .text-block {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.idfind-box .idfind {
  width: 100%;
  background-color: #5F2CF1;
  border-color: transparent;
  border-radius: 5px;
  color:white;
  padding: 10px;
  margin-top: 30px;
}

/* pw-find */

.pwfind-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: white;
  box-sizing: border-box;
  border-radius: 10px;
}

.pwfind-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}


.pwfind-box hr{
  border: 0;
  height: 2px;
  background: gray;
  margin-bottom: 10px;
}

.pwfind-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  outline: none;
  background: transparent;
}

.pwfind-box .text-block {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.pwfind-box .idfind {
  width: 100%;
  background-color: #5F2CF1;
  border-color: transparent;
  border-radius: 5px;
  color:white;
  padding: 10px;
  margin-top: 30px;
}