/* 메인 대시보드 스타일시트 */
.myProgress{padding:20px 24px 36px 24px;background:#5F2CF1; }
.myProgress .profile{position:relative; display:flex; align-items: center; margin-bottom:20px;}
.myProgress .image{width:60px; height:60px; border-radius:15px; background:#fff; display:inline-block; margin-right:8px;}
.myProgress .name{color:#fff; display:block; margin-bottom:8px; font-size:20px;}
.myProgress .message{color:#fff; display:block; color: #D8D8D8;}
.myProgress .writeBtn{width:36px; height:36px; border:0; border-radius: 50%; background:url(/img/ico_writePlan.svg) no-repeat center, #fff; position:absolute; right:0; top:8px;}
.myProgress .progress .title{position:relative; margin-bottom:16px;}
.myProgress .progress .title h5{color:#fff; font-size:18px;}
.myProgress .progress .title .percent{color:#fff; font-size:18px; position:absolute; right:0; top:0;}
.myProgress .progress .bar{width:100%; background:#fff; position:relative; height:10px; border-radius: 30px;}
.myProgress .progress .bar .gauge{width:50%; height:10px; border-radius: 30px; background:#FFBB37; display:block; position:absolute; top:0; left:0;}
.frProgress{background:#fff; padding:24px 24px 8px 24px; border-top-left-radius: 20px; border-top-right-radius: 20px; margin-top:-16px;}
.cont-tit.title h5{font-size:18px; color:#000;}
.frProgress .cont-tit{position:relative; margin-bottom:20px;}
.frProgress .more{position:absolute; top:4px; right:0; font-size:12px; color:#585858;}
.frProgress .frList{display:flex; flex-wrap: wrap; justify-content: space-between;}
.frProgress .frList li{display:flex; align-items: center; position:relative; width:49%; margin-bottom:8px;}
.frProgress .frList .progressBar{width:50px; height:50px; border-radius: 50%; display:inline-block; background:#e5e5e5;}
.frProgress .frList .name{font-size:14px; color:#000; margin-left:8px;}
.frProgress .frList .percent{font-size:16px; color:#000; font-weight:500; position:absolute; right:0; top:15px;}
.weeklyPlan{background:#fff;}
.weeklyPlan .title{ padding:0 24px;}
.weeklyPlan .cont-tit{margin-bottom:20px;}
.weeklyPlan .dayList{display:flex;justify-content: center; margin-bottom:8px; padding:0 24px;}
.weeklyPlan .dayList li{width:calc(100%/7); text-align:center; padding:10px 8px 8px 8px; border-radius: 5px; cursor:pointer}
.weeklyPlan .dayList li.on{background:#5f2cf1;}
.weeklyPlan .dayList .day{color:#B6ADCF; font-size:10px; font-weight:600; display:block; margin-bottom:8px;}
.weeklyPlan .dayList .date{color:#222222; font-size:12px; border-radius: 50%; width:24px; height:24px; border-radius: 50%; text-align:center; display:inline-block; background:#fff; line-height:24px;}
.weeklyPlan .dayList li.on .day{color:#fff;}
.weeklyPlan .plannerList{background:#F6F4FB; padding:10px 24px; height:calc(100vh - 568.5px); overflow-y:auto; }
.weeklyPlan .plannerList .listWrap li{padding:18px; background:#fff; border-radius: 10px; margin-bottom:8px; box-shadow: 0 0 5px rgba(0,0,0,.15);}
.weeklyPlan .plannerList .listWrap .tit{margin-bottom:8px; display:inline-block}
.weeklyPlan .plannerList .gubun{display:inline-block; padding:4px 8px; border-radius: 5px; color:#fff; font-size:10px; font-weight:500; margin-right:4px; vertical-align:middle;}
.weeklyPlan .plannerList .gubun.group{background:#5F2CF1;}
.weeklyPlan .plannerList .gubun.solo{background:#FFBB37;}
.weeklyPlan .plannerList .text{font-size:16px;}
.weeklyPlan .plannerList .alignRight{display:block; text-align:right;}
.weeklyPlan .plannerList span, .weeklyPlan .plannerList em{font-size:12px;}
.weeklyPlan .plannerList .check{padding-left:26px; position:relative; background:url(/img/ico_check.svg) no-repeat left center; margin-right:24px; display:inline-block;}
.weeklyPlan .plannerList .check em{font-style: normal;}
.weeklyPlan .plannerList .check .done{color:#5F2CF1; font-weight:600;}
.weeklyPlan .plannerList .per{font-style: normal; color:#000; font-weight:600; font-size:12px; margin-left:12px;}

.w100{width:100% !important;}
.t_left{text-align:left !important;}
.t_right{text-align:right !important}
.f_l{float:left !important}
.f_r{float:right !important}
button{border:1px solid transparent; padding:16px 0; border-radius: 10px;}
button.purpleBtn{background:#5F2CF1; color:#fff; width:100%;}
button.orangeBtn{background:#FFBB37; color:#fff; width:100%; }
.container h6{font-size:20px; font-weight:500; color:#000; margin-bottom:16px;}

/* 플래너 작성 화면 */
.writePlanner .input-form{border-radius: 10px; background:#F4F4F4; margin-bottom:10px; padding:12px; position:relative}
.writePlanner .input-form .reset{width:16px; height:16px; display:block; background:url(/img/ico_reset.svg) no-repeat center; background-size:cover; position:absolute; top:8px; right:12px; text-indent:-9999px;}
.writePlanner .input-form label{font-size:12px; font-weight:600; color:#666666; margin-bottom:8px; display:block;}
.writePlanner .input-form span{color:#909090;}
.writePlanner .input-form em{font-style: normal;}
.writePlanner .input-form #pickDate{float:right;}
.writePlanner .input-form input{border:none; background:none; text-align:right; font-size:16px;}
.writePlanner .input-form input:placeholder{color:#909090;}
.writePlanner .input-form .ch_list li{position:relative; margin-bottom:8px;}
.writePlanner .input-form .ch_list .chList{width:calc(100% - 20px); font-weight:400; color:#222; font-size:14px; text-align:left;}
.writePlanner .input-form .ch_list a{width:16px; height:16px; display:block; background:url(/img/ico_reset.svg) no-repeat center; background-size:cover; position:absolute; top:0px; right:0px; text-indent:-9999px;}
.writePlanner .addList{color:#fff; background:#5F2CF1; border-radius: 10px; padding:4px 8px; font-size:10px; display:inline-block; position:absolute; top:8px; right:8px;}

/* 플래너 작성 완료 화면 */
.writeDone{background:#F6F4FB; height:calc(100vh - 152px);}
.writeDone .plWrap .top_bx{background:#5F2CF1; border-top-left-radius: 10px; border-top-right-radius: 10px; padding:16px; position:relative}
.writeDone .plWrap .top_bx .date{color:#fff; font-size:18px;}
.writeDone .plWrap .top_bx .d_day{border-radius: 20px; padding:4px 10px; background:#fff; color:#5F2CF1; font-size:14px; position:absolute; right:16px; top:16px;}
.writeDone .plWrap .bot_bx{border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; background:#fff; padding:16px;}
.writeDone .plWrap .bot_bx .default_bx{margin-bottom:8px;}
.writeDone .plWrap .bot_bx .default_bx::after{display:block; content:''; clear:both}
.writeDone .plWrap .bot_bx .default_bx dt{float:left; font-size:14px; font-weight:500; color:#191919;}
.writeDone .plWrap .bot_bx .default_bx dd{float:right; font-size:14px; font-weight:400; color:#191919;}
.writeDone .plWrap .bot_bx .ch_list dt{float:none; }
.writeDone .plWrap .bot_bx .ch_list dd{float:none;  margin-top:8px; border-top:2px solid #000; border-bottom:1px solid #000; padding:8px;}
.writeDone .plWrap .bot_bx .ch_list .list_wr{max-height:240px; overflow-y:auto;}
.writeDone .plWrap .bot_bx .ch_list .list_wr li{position:relative; margin-bottom:8px; }
.writeDone .plWrap .bot_bx .ch_list .list_wr label{font-size:12px; width:calc(100% - 20px);}
.writeDone .plWrap .bot_bx .ch_list .list_wr input[type="checkbox"]{width:16px; height:16px;border-radius: 50%; position:absolute; right:0;}
.writeDone .plWrap .bot_bx .memo_bx dt{margin-bottom:8px;}
.writeDone .plWrap .bot_bx .memo_bx .text{border-radius: 10px; background:#EFEFEF; padding:16px;}
.writeDone .plWrap .bot_bx .memo_bx .text p{font-size:12px;}

/* 마이페이지 */
.myPage .myInfo{display:flex; margin-bottom:20px;}
.myPage .myInfo .thumb{display:block; width:60px; height:60px; border-radius: 15px; border:1px solid #EEEEEE;}
.myPage .myInfo .me{ width:calc(100% - 150px); padding:8px;}
.myPage .myInfo .me p{ font-size:20px; font-weight:600; color:#000;}
.myPage .myInfo .me .text{font-size:16px; color:#AAAAAA; font-weight:400;}
.myPage .myInfo button{width:90px; display:flex; justify-content: center; align-items: center; margin-top:12px; height:30px;}
.myPage .tab-cont > div{margin-bottom:60px}
.myPage .tab .count{border-radius: 12.5px; padding:4px 8px; background:#EEE8FF; color:#5F2CF1; border:1px solid #5F2CF1; display:inline-block; font-size:12px; font-weight:600; width:16px; margin-left:4px; vertical-align: middle;}
.myPage .container{padding:0; height:calc(100vh - 232px); overflow-y:auto;}
.myPage .dataList p{color:#000; font-size:16px; font-weight:600; padding:0 16px; margin:12px 0;}
.myPage .dataList ul::after{display:block; content:''; clear:both;}
.myPage .dataList li{display:block; width:33.33%; float:left; position:relative}
.myPage .dataList li a{height:100%;}
.myPage .dataList .img{height:180px; background-color: #e5e5e5;}
.myPage .dataList .reaction{position:absolute;width:100%; background:linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.3) 100%); height:40%; bottom:0;}
.myPage .dataList .reaction span{position:absolute; bottom:8px; color:#fff; font-size:12px;}
.myPage .dataList .reaction .like{left:8px; padding-left:20px; background:url(../img/ico_heart.svg) no-repeat left;}
.myPage .dataList .reaction .comment{right:8px; padding-left:20px; background:url(../img/ico_comment.svg) no-repeat left;}

/* 마이페이지 상세 */
.mypageDetail{height:calc(100vh - 232px); overflow-y:auto;}
.mypageDetail .deTit{position:relative}
.mypageDetail .deTit span{font-size:12px; color:#fff; background-color: #5F2CF1; border-radius: 35px; padding:8px 16px;}
.mypageDetail .deTit h6{font-size:18px; color:#000; display:inline-block; vertical-align:top;}
.mypageDetail .deTit .etc_btn{display:block; width:15px; height:3px; position:absolute; top:8px; right:0; background:url(/img/ico_etc.svg) no-repeat center;}
.mypageDetail .img{height:486px; background:#e5e5e5;}
.mypageDetail .reaction{margin:8px 0;}
.mypageDetail .reaction span{cursor:pointer; padding-left:30px; background:url(/img/ico_blheart.svg) no-repeat; background-size:24px; background-position:left center;}
.mypageDetail .reaction span.on{ background:url(/img/ico_pkheart.svg) no-repeat; background-size:24px; background-position:left center;}
.mypageDetail .content .writer{font-size:14px; font-weight:600; color:#000;}
.mypageDetail .content .writer span{font-size:14px; color:#747474; font-weight:400; margin-right:4px;}
.mypageDetail .content .txt{margin:16px 0;}
.mypageDetail .content .txt p{font-size:14px; color:#000; font-weight:400; line-height:1.375;}
.mypageDetail .cmt::after{display:block; content:''; clear:both}
.mypageDetail .cmt label{float:left; width:80%}
.mypageDetail .cmt label input{width:100%; padding:11px; border:1px solid #f1f1f1; border-radius: 5px; box-sizing: border-box;}
.mypageDetail .cmt button{float:right; width:calc(20% - 8px); height:40px; padding:0; vertical-align:middle; border-radius: 5px;}
.mypageDetail .cmtList{border-top:1px solid #ddd; padding-top:10px; margin-top:10px;}
.mypageDetail .cmtList > p{font-size:14px; font-weight:600; color:#000; margin-bottom:10px;}
.mypageDetail .cmtList > p span{margin-left:4px; color: #5F2CF1;}
.mypageDetail .cmtList ul li{margin-bottom:10px;}
.mypageDetail .cmtList .writer{font-size:14px; font-weight:400; color:#000; margin-bottom:10px;}
.mypageDetail .cmtList .cont{background:#F7F7F7; border-radius: 3px; padding:10px;}
.mypageDetail .cmtList .cont p{font-size:12px;}
.mypageDetail .cmtList .date{color:#000; font-size:10px;}


